@use "util" as u;

.footer {
    @extend %fxcol-jcai-c;
    max-width: 100vw;
    background-color: u.$bgDark1;

    .links {
        margin-top: 5rem;

        :not(:last-child) {
            margin-right: 2rem;
        }

        .link {
            .bx {
                color: u.$fontDark;
                transition: all .25s ease-in-out;
            }

            &:hover {
                .bx {
                    transform: scale(1.3, 1.3);
                    transition: all .25s ease-in-out;
                }
            }
        }
    }

    .copyright {
        padding: 1.5rem 0;
        color: gray;
        font-size: 1.2rem;
    }

    &.dark {
        background-color: u.$bgDark3;
    }
}

